<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/images/Home/DecodedCodex.webp" type="image/webp">
  <link rel="canonical" href="{{ page.url | url }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  {% if loadSearch %}
    <link href="{{ '/pagefind/pagefind-ui.css' | url }}" rel="stylesheet">
  {% endif %}
</head>
<body {% if page.inputPath == './pages/index.md' or search == false %} data-pagefind-ignore {% endif %}>

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>Copyright: &copy; 2026 Decoded Codex. All rights reserved.</p>
    <p><a href="https://github.com/AFrederick13/Decoded-Codex" target="_blank">View Source Code on GitHub</a></p>
  </footer>


  {% if loadSearch %}
    <script src="/pagefind/pagefind-ui.js" defer></script>
    <script src="{{ '/js/search.js' | url }}" defer></script>
  {% endif %}

  {% if loadTopics %}
    <script src="{{ '/js/topics.js' | url }}" defer></script>
  {% endif %}
</body>
</html>